<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904860257410-onpe937l616a6t3m5ro4og0m0g5vqn34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904860257410-onpe937l616a6t3m5ro4og0m0g5vqn34</string>
	<key>API_KEY</key>
	<string>AIzaSyCPPmW2uQZ0H9P1KxkVXVp9Tpf5MhGbUE0</string>
	<key>GCM_SENDER_ID</key>
	<string>904860257410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephanovallejom.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-1f707</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-1f707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904860257410:ios:2aac279e42e8446edeb89b</string>
</dict>
</plist>